<script>
    import { SvelteUIProvider, TypographyProvider } from '@svelteuidev/core';

    function getTheme() {
        let theme = 'light'
        let encoded = localStorage.getItem('settings')
        if (encoded) {
            let stringed = atob(encoded)
            let settings = JSON.parse(stringed)
            theme = settings.theme
        }
        return theme
    }
</script>

<SvelteUIProvider withGlobalStyles themeObserver={getTheme()}>
    <TypographyProvider>
        <slot />
    </TypographyProvider>
</SvelteUIProvider>