<script lang="ts">
    import {
        Alert,
        Button,
        Card,
        Center,
        Grid,
        Modal,
        NumberInput,
        Stack,
        Space,
        Switch,
        Text,
        TextInput,
        Title
    } from '@svelteuidev/core'
    import {
        BoxModel,
        Layers,
        MixerHorizontal,
        Plus,
        Trash,
    } from 'radix-icons-svelte'


    let items = []
    let settings = loadSettings()

    let isModalOpen = false
    let isClearModalOpen = false
    let isSettingsOpen = false

    let newName = ''
    let newQuantity = 0
    let newCost = 0


    let openModal = (() => {
        if (!isModalOpen) {
            isModalOpen = true
            newName = ''
            newQuantity = null
            newCost = null
        }
    })

    let getTotal = (() => {
        let tt = 0
        items.forEach(item => {
            tt += item.cost * item.quantity
        })
        return tt
    })

    let total = getTotal()

    let update = (() => {
        total = getTotal()
        items = items
        save()
    })

    let addItem = (() => {
        items.push({ name: newName, quantity: newQuantity, cost: newCost, weight: null })
        update()
        isModalOpen = false
    })

    let updateItemName = ((ev, item) => {
        item.name = ev.detail
        update()
    })

    let updateItemQuantity = ((ev, item) => {
        item.quantity = ev.detail
        update()
    })

    let updateItemCost = ((ev, item) => {
        item.cost = ev.detail
        update()
    })

    let clearItems = (() => {
        items = []
        update()
        isClearModalOpen = false
    })

    function save() {
        let stringed = JSON.stringify(items)
        let encoded = btoa(stringed)
        localStorage.setItem('items', encoded)
    }

    function load() {
        let encoded = localStorage.getItem('items')
        if (encoded) {
            let stringed = atob(encoded)
            items = JSON.parse(stringed)
            update()
        }
    }

    function saveTheme() {
        saveSettings()
        location.reload()
    }

    function loadSettings() {
        let settings = { theme: 'light', currency: 'RSD'}
        let encoded = localStorage.getItem('settings')
        if (encoded) {
            let stringed = atob(encoded)
            settings = JSON.parse(stringed)
        }
        return settings
    }

    function saveSettings() {
        let stringed = JSON.stringify(settings)
        let encoded = btoa(stringed)
        localStorage.setItem('settings', encoded)
    }

    load()
</script>

<Center>
    <Title>
        <BoxModel/>
        Item Tracker
    </Title>
</Center>

<Alert icon={Layers} color="green" variant="outline" title={`Your current total is ${total} ${settings.currency}.`}></Alert>

<Space h="md"/>

<Stack space="large">
    <!-- <Grid>
        <Grid.Col span={12}>
            <Text>Name</Text>
        </Grid.Col>
    </Grid>
    <Grid>
        <Grid.Col span={3}>
            <Text>Quantity</Text>
        </Grid.Col>
        <Grid.Col span={3}>
            <Text>Cost</Text>
        </Grid.Col>
        <Grid.Col span={1}>
            <Text>Act</Text>
        </Grid.Col>
    </Grid> -->
    {#each items as item}
    <Card>
        <Grid>
            <Grid.Col span={10}>
                <TextInput
                    label="Name"
                    style={`color: ${settings.theme === 'dark' ? 'white' : 'black'}`}
                    class="darkproof"
                    placeholder="Name"
                    on:change={(ev) => {updateItemName(ev, item)}}
                    value={item.name}
                />
            </Grid.Col>
            <Grid.Col span={2}>
                <Button
                    style="margin-top: 1.65rem;"
                    compact
                    color="red"
                    variant="outline"
                    size="lg"
                    on:click={() => {
                        items = items.filter(i => i !== item)
                        update()
                    }}
                >
                    <Trash/>
                </Button>
            </Grid.Col>
        </Grid>
        <Grid>
            <Grid.Col span={6}>
                <NumberInput
                    label="Quantity"
                    style={`color: ${settings.theme === 'dark' ? 'white' : 'black'}`}
                    placeholder="Quantity"
                    on:change={(ev) => {updateItemQuantity(ev, item)}}
                    value={item.quantity}
                />
            </Grid.Col>
            <Grid.Col span={6}>
                <NumberInput
                    label="Cost"
                    style={`color: ${settings.theme === 'dark' ? 'white' : 'black'}`}
                    placeholder="Cost"
                    on:change={(ev) => {updateItemCost(ev, item)}}
                    value={item.cost}
                />
            </Grid.Col>
        </Grid>
    </Card>
    {/each}
</Stack>

<Space h="md"/>

<Center>
    <Button
        variant="gradient"
        gradient="{{from: 'teal', to: 'green', deg: 60}}"
        ripple
        on:click={openModal}
    >
        <Plus slot="leftIcon"/>
        Add
    </Button>
    <Space w="xs"/>
    <Button
        variant="gradient"
        gradient="{{from: 'pink', to: 'red', deg: 60}}"
        disabled={items.length === 0}
        ripple
        on:click={() => {
            if (items.length) {
                isClearModalOpen = true
            }
        }}
    >
        <Trash slot="leftIcon"/>
        Clear
    </Button>
    <Space w="xs"/>
    <Button
        variant="gradient"
        gradient="{{from: 'blue', to: 'teal', deg: 60}}"
        ripple
        on:click={() => {
            isSettingsOpen = true
        }}
    >
        <MixerHorizontal/>
    </Button>
</Center>

<Modal
    centered
    opened={isModalOpen}
    on:close={() => isModalOpen = false}
    title="Add new item"
    closeOnEscape
    closeOnClickOutside
    size="xs"
    overlayBlur={3}
>
    <Stack space="large">
        <TextInput
            style={`color: ${settings.theme === 'dark' ? 'white' : 'black'}`}
            placeholder="Name"
            bind:value={newName}
        />
        <NumberInput
            style={`color: ${settings.theme === 'dark' ? 'white' : 'black'}`}
            placeholder="Quantity"
            bind:value={newQuantity}
        />
        <NumberInput
            style={`color: ${settings.theme === 'dark' ? 'white' : 'black'}`}
            placeholder="Cost"
            bind:value={newCost}
        />
        <Button variant="gradient" gradient="{{from: 'teal', to: 'green', deg: 60}}" ripple on:click={addItem}>
            <Plus slot="leftIcon"/>
            Add
        </Button>
    </Stack>
</Modal>

<Modal
    centered
    opened={isClearModalOpen}
    on:close={() => isClearModalOpen = false}
    title="Are you sure?"
    closeOnEscape
    closeOnClickOutside
    size="xs"
    overlayBlur={3}
>
    <Button
        variant="gradient"
        gradient="{{from: 'pink', to: 'red', deg: 60}}"
        ripple
        on:click={clearItems}
    >
        <Trash slot="leftIcon"/>
        Yes
    </Button>
</Modal>

<Modal
    centered
    opened={isSettingsOpen}
    on:close={() => isSettingsOpen = false}
    title="Settings"
    closeOnEscape
    closeOnClickOutside
    size="xs"
    overlayBlur={3}
>
    <Grid>
        <Grid.Col span={2}>
            <Switch
                checked={settings.theme === 'dark'}
                on:click={() => {
                    settings.theme === 'dark' ? settings.theme = 'light' : settings.theme = 'dark'
                    saveTheme()
                }}
                on:change={saveSettings()}
            />
        </Grid.Col>
        <Grid.Col span={10}>
            <Text>Dark theme</Text>
        </Grid.Col>
    </Grid>
    <Space h="md"/>
    <Grid>
        <Grid.Col span={4}>
            <Text>Currency</Text>
        </Grid.Col>
        <Grid.Col span={8}>
            <TextInput
                style={`color: ${settings.theme === 'dark' ? 'white' : 'black'}`}
                placeholder="RSD"
                bind:value={settings.currency}
                size="xs"
                on:change={saveSettings()}
            />
        </Grid.Col>
    </Grid>
</Modal>
